/*[fmt]0020-000A-3*/
body{  background:#EEEEEE;  letter-spacing:1px;  font-family:Helvetica; padding:10px;}
.year{  color:#D90000;  font-size:85px;}
.relative{  position:relative;}
.months{}
.month{  margin-top:12px;}
.months ul{  list-style:none;  margin:0px;  padding:0px;}
.months ul li a{  float:left;  margin:-1px;  padding:0px 15px 0px 0px;  color:#888888;  text-decoration:none;  font-size:35px;  font-weight:bold;  text-transform:uppercase;}
.months ul li a:hover, .months ul li a.active{  color:#D90000;}
table{  border-collapse:collapse;}
table td{  border:1px solid #A3A3A3;  width:80px;  height:80px;}
table td.today{  border:2px solid #D90000;  width:80px;  height:80px;}
table td.padding{  border:none;}
table td:hover{  background:#DFDFDF;  cursor:pointer;}
table th{  font-weight:normal;  color:#A8A8A8;}
table td .day{  position:absolute;  color:#8C8C8C;  bottom:-40px;  right:5px;  font-weight:bold;  font-size:24.3pt;}
table td .events{  position:relative;  width:79px;  height:0px;  margin:-39px 0px 0px;  padding:0px;}
table td .events li{  width:10px;  height:10px;  float:left;  background:#000;  /*+border-radius:10px;*/  -moz-border-radius:10px;  -webkit-border-radius:10px;  -khtml-border-radius:10px;  border-radius:10px 10px 10px 10px;  margin-left:6px;  overflow:hidden;  text-indent:-3000px;}
table td:hover .events{position: fixed;left: 582px;top: 66px;width: 442px;list-style: none;margin: 0 0 0 -200px;  padding:11px 0px 0px;}
table td:hover .events li{margin-top: -10px; height:40px;  line-height:40px;  font-weight:bold;  border-bottom:1px solid #D6D6D6;  padding-left:41px;  text-indent:0;  background:none;  width:500px;}
table td:hover .events li:first-child{  border-top:1px solid #D6D6D6;}
table td .daytitle{  display:none;}
table td:hover .daytitle{position: fixed; left: 582px; top: 0; width: 442px; list-style: none; margin: 0 0 0 -200px; padding: 0px; color: #D90000; font-size: 41px; display: block; font-weight: bold; }
.clear{  clear:both;}
div.large-4.columns{margin-top: 50px;}
div.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
div.tab{
  /*width: -moz-fit-content;*/
  padding: 0 50px 0 50px;
  margin-left:10%;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.back-gray{
  background-color: rgb(245,245,245);
}
.red, .bold-red{
  color: red;
}

.bold-red, .bold{
  font-weight: bold;
}
.italic{
  font-style:italic;
}
.italic-bold{
  font-style:italic;
  font-weight: bold;
}
.border{
  border: 2px solid black;
  margin:3px;
}
body{
  background-color: white;
  width:100%;
}
p input{
  max-width: 150px;
  max-height: 40px;
  display: inline-block;
}
span input{
  display: inline-block;
}
input{
  max-width: 400px;
}
.etab1{
  background-color: rgb(140,201,1);
  padding: 5px 10px 5px 10px;
  margin-right:10px;
}
.etab2{
  background-color: rgb(1,161,197);
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}
.footer{
  background-color: rgb(47,47,47);
  color:rgb(255,255,255);
  width:100%;
  padding:15px;
  margin-top: 200px;
  margin-bottom: auto;
}
#title, img{
  display:inline-block;
  margin-right:5%;
}
.center{
  background-color: rgb(231,231,231);
  width:100%;
}
.card{
  margin-top: 40px;
}
tr{
  border: 1px solid black;
  word-spacing: 10px;
}

/*.tab, form{
  display: inline-block;
  padding-top: auto;
  padding-bottom: auto;
}*/
.tab1, .tab2{
  display: inline-block;
  padding-top: auto;
  padding-bottom: auto;
}
.tab1{
  /*margin-top: -20px;*/
  height:60px;
}
.tab2{
  margin-top: 20px;
}
.top-bar-right input{
  display: inline-block;
  max-width: 180px;
}
#button-search{
  margin-bottom: 3.5px;
  height: 38px;
}

.medium-up-2{
  text-align: center;
}
